@model FlightsManager.Models.Flight.FlightCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="userPage">
    <h1>Create</h1>

    <h4>Flight</h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Flight" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="DestinationFrom" class="control-label">Destination From</label>
                    <input asp-for="DestinationFrom" class="form-control" />
                    <span asp-validation-for="DestinationFrom" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="DestinationTo" class="control-label">Destination To</label>
                    <input asp-for="DestinationTo" class="form-control" />
                    <span asp-validation-for="DestinationTo" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="TakesOff" class="control-label">Takes-Off</label>
                    <input asp-for="TakesOff" class="form-control" />
                    <span asp-validation-for="TakesOff" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Landing" class="control-label">Landing</label>
                    <input asp-for="Landing" class="form-control" />
                    <span asp-validation-for="Landing" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="AirplaneType" class="control-label">Airplane Type</label>
                    <input asp-for="AirplaneType" class="form-control" />
                    <span asp-validation-for="AirplaneType" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="PilotName" class="control-label">Pilot Name</label>
                    <input asp-for="PilotName" class="form-control" />
                    <span asp-validation-for="PilotName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Capacity" class="control-label">Ordinary Tickets Capacity</label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="BusinessClassCapacity" class="control-label">Business Tickets Capacity</label>
                    <input asp-for="BusinessClassCapacity" class="form-control" />
                    <span asp-validation-for="BusinessClassCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="margin-top:20px;"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back</a>
    </div>
</div>
