@{
    ViewData["Title"] = "ConfirmReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="confirm-reservation"> Confirm your reservation</h1>

    <p class="confirm-reservation">
        Thank you for your reservation! Please, check out your <u>email</u> to confirm your reservation.
    </p>